#ch {
  width: 15%;
}
.jumbotron {
    position: relative;
  }
  
  .block {
    position: relative;
    width: 100%;
  }
  
  /* .jumbotron p {
    color: white;
    position: absolute;
    bottom: 0;
    left: 20%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  } */
  
  .container-fluid {
    overflow-x: hidden;
  }
  /* .paroller-img {
    max-width: 33%;
    height: auto;
  } */
  
  .section1 {
    position: relative;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .section1::before {
    content: '';
    background-image: url('../assets/frontpic.jpg');
    background-size: cover;
    opacity: 0.55;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .title {
    position: relative;
    top:20%;
    left:5%;
    color: black;
  }
  
  .section1_5 {
    position: relative;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .section2 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.125));
    background-image: url('../assets/section3.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* align-items: center; *
    /* justify-content: center; */
  }
  
  .section3 {
    height: 200vh;
    background: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.2));
    background-repeat: no-repeat;
    background-image: url('../assets/section3.png');
    background-attachment: fixed;
    /* align-items: center; *
    /* justify-content: center; */
    /* display: flex;
    flex-flow: column wrap;
    align-content: space-between; */
  }
  .section3 p1 {
    
    font-size: 100%;
    color: black;
    font-weight:bold;
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
    padding: 5%;
    
  }
  
  .section4 {
    height: 500vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); */
    background-repeat: no-repeat;
    background-image: url('../assets/section3.png');
    background-attachment: fixed;
  }
  .section5 {
    height: 500vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-image: url('../assets/section5.png');
    background-attachment: fixed;
  }
  .sectionx {
    height: 150vh;
    align-items: center; 
  }
  .mid {
    position: absolute;
    top : 30%;
    left : 30%;
  }
  .mid2 {
    position: absolute;
    top : 30%;
    left : 50%;

  }
  .onePage {
    position: relative;
    height: 100vh;
  }
  .running {
    top: 50%;
    left: 0;
  }
  .man {
    position: relative;
    max-width: 5%;
    height: auto;
  }
  
  
  
  .a {
    width: 5%;
  }
  .right {
    position: absolute;
    top : 25%;
    left : 80%;
  
  }
  .left {
    position: absolute;
    top : 25%;
    left : 20%;
  }

  .game1 {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));

  }
  .game2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));

  }
  .radio {
    transform: scale(1.6);
              margin-right: 10px;
              vertical-align: middle;
              margin-top: -2px;
  }