.front {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.front::before {
    content: "";
    background-image: url('../assets/frontpic.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}

.frontH1 {
    position: relative;
    color: black;
}
/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */
/*////////////////////https://coder-coder.com/background-image-opacity////////////////////////////////////*/

.slideanimate {
    visibility: hidden;
}

.slide {
    visibility: visible;
}


.blink_me {
    animation: blinker 1s linear infinite;
}



@keyframes blinker {
    50% {
        opacity: 0;
    }